.use{
     width: 100%;
  max-width: 370px;
  margin: 18px auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s;  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: red;
  color: rgb(12, 5, 141);
}
.change{
    margin-left: 40%;
}
.change:hover{
    transform: scale(1.007);
  cursor: pointer;
  background-color: yellowgreen;
}